.home,
.dogpark {
  background-image: url("../public/imgs/livingroom\ copy.png");
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "DynaPuff", system-ui;
  object-fit: cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background-color: var(--foreground-color);
  padding: 10px;
}
.links {
  display: flex;
  gap: 20px;

  font-family: "DynaPuff", system-ui;
}

.hamburger {
  color: white;
  cursor: pointer;
}
.hamburger:hover {
  color: #d8a9cd;
}
.link {
  color: white;
  font-size: 1.4rem;
  text-align: center;
}

.link:hover {
  color: #e4c699;
}

.pawOne:hover {
  color: #d8a9cd;
}
.pawTwo:hover {
  color: #e4c699;
}
.pawThree:hover {
  color: #f4ea94;
}
.pawFour:hover {
  color: #85b394;
}
.pawFive:hover {
  color: #9bdbf4;
}
.pawSix:hover {
  color: #b4b2d0;
}

.title {
  font-family: "DynaPuff", system-ui;
  color: var(--primary-text-color);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
}

.door {
  height: 450%;
  font-size: 1rem;
  background-color: transparent;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: start;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: "Dynapuff", system-ui;
  gap: 5px;
  margin-top: 100px;
}

.outside-and-stats {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--secondary-text-color);
  gap: 10px;
  margin: 20px;
  width: 35%;
  height: 100px;
}

.pet-content {
  display: flex;
  height: 40%;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  justify-self: end;
}

form {
  display: flex;
}

label {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--secondary-text-color);
}

.pet-name-input {
  border-radius: 20px;
  padding: 5px 10px;
  font-family: "DynaPuff", system-ui;
  background-color: var(--primary-text-color);
  font-size: 1rem;
  border: 1px solid var(--tertiary-text-color);
}

.pet-name-title {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 2.5rem;
}

.submit-name-btn {
  color: var(--secondary-text-color);
  margin-left: 10px;
  border-radius: 20px;
  border: 1px solid var(--tertiary-text-color);
  padding: 5px 10px;
  font-family: "DynaPuff", system-ui;
  background-color: white;
}

.submit-name-btn:hover {
  background-color: var(--secondary-text-color);
  color: white;
}

.action-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  height: 110px;
}

.btn-title {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 300px;
  height: 50px;
  justify-content: center;
  border: 1px solid var(--tertiary-text-color);
  border-radius: 20px;
  background-color: var(--tertiary-text-color);
  color: var(--primary-text-color);
  font-family: "DynaPuff", system-ui;
}

.btn:hover {
  border: 1px solid var(--tertiary-text-color);
  background-color: var(--background-color);
  color: var(--tertiary-text-color);
}

.dropdown-options {
  font-size: 1.1rem;
  display: flex;
  gap: 20px;
  height: 70px;
  width: 100%;
  color: var(--tertiary-text-color);
  text-align: center;
  background-color: var(--primary-text-color);
  cursor: pointer;
  border-radius: 20px;
}

.dropdown-options > div:hover {
  color: var(--secondary-text-color);
  cursor: pointer;
}

.hunger-stat {
  display: flex;
  align-items: center;
  gap: 30px;
}

.happiness-stat {
  display: flex;
  align-items: center;
  gap: 11px;
}
.energy-stat {
  display: flex;
  align-items: center;
  gap: 30px;
}

.progress-bar-container {
  width: 300px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0df;
  height: 10px;
  border-radius: 20px;
}

input::placeholder {
  color: #92b2be;
}

.dogpark {
  background-image: url("../public/imgs/dogpark.jpg");
  background-size: 100vw 100vh;
  width: 100%;
  height: 100vh;
}
