.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "DynaPuff", system-ui;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #96c9dc;
  margin-bottom: 20px;
  border-radius: 30px;
}

.pawOne:hover {
  color: #d8a9cd;
}
.pawTwo:hover {
  color: #e4c699;
}
.pawThree:hover {
  color: #f4ea94;
}
.pawFour:hover {
  color: #85b394;
}
.pawFive:hover {
  color: #9bdbf4;
}
.pawSix:hover {
  color: #b4b2d0;
}

.title {
  font-family: "DynaPuff", system-ui;
  color: white;
  font-size: 3em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-btns {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #96c9dc;
  gap: 10px;
}

.hunger-stat {
  display: flex;
  align-items: center;
  gap: 30px;
}

.food-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.feed-btn {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 200px;
}

.food-dropdown {
  font-size: 1rem;
  display: flex;
  gap: 20px;
}

.food-dropdown > div:hover {
  color: #96c9dc;
}

.happiness-stat {
  display: flex;
  align-items: center;
  gap: 11px;
}
.energy-stat {
  display: flex;
  align-items: center;
  gap: 30px;
}
button {
  background-color: white;
  font-family: "DynaPuff", system-ui;
  color: #d8a9cd;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #d8a9cd;
  gap: 10px;
}

button:hover {
  background-color: #f3d7ec;
  color: white;
  border: 1px solid white;
}

.progress-bar-container {
  width: 300px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0df;
  height: 10px;
  border-radius: 20px;
}
